/* Site */
html, body {
    font-family: 'Open Sans';
    font-size: 13px;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    display: none;
}

input:focus, textarea:focus, select:focus{
    outline: none;
}

input {
    border-bottom: 1px solid black;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    font-family: "Open Sans";
}

.container {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;  
    -webkit-overflow-scrolling: touch;
    white-space: nowrap;
    scroll-behavior: auto;
}

.slide {
    display: inline-block;
    margin: 0;
    padding: 0;
    min-width: 100vw;
    max-width: 100%;
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-snap-align: start;
}


.header { 
    font-family: "Quicksand"; 
    font-weight: bold; 
    font-size: 1.2em; 
    padding-left: 5px;
}

/* 1. Main Page */
/* a. General */
.subslide {
    width: 100vw;
    height: 100vh;
    scroll-snap-align: start;
}

.subslideTitle {
    font-size: 2.25em;
    font-family: "Quicksand";
    font-weight: 400;
}

.subslideSubTitle{ 
    font-size: 1.25em;
    white-space: normal;
}

.headerContainers {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10%;
    font-family: Quicksand;
}

#landingPage {
    display: flex;
    /*Add background url later */
    background-color: whitesmoke;
}

#landingContainerLeft {
    width: 40%;
    height: 100%;

    padding-left: 5%;
    padding-right: 2.5%;

    display: flex;
    flex-direction: column;


    animation: moveLanding 3s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;

    position: relative;
    top: 45%;
    opacity: 0;
}

@keyframes moveLanding {
    from {
        top: 45%;
        opacity: 0;
    }
    to {
        top: 25%;
        opacity: 1
    }
}

#landingTitle {
    font-size: 3.5em;
    font-family: Quicksand;
    font-weight: 400;
    padding-bottom: 4%;
    white-space: normal;	
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
}

#landingSubtitle {
    font-size: 1.5em;
    font-family: "Open Sans";
    white-space: normal;
    padding-bottom: 4%;
}


#landingLabel {
    font-family: Quicksand;
    font-size: 1.75em;
    font-family: "Quicksand";
    font-weight: 400;
}

#landingSearchBoxInner {
    display: flex;
    align-items: center;
    width: 100%;
}

#searchInput {
    width: 95%;
    font-size: 1.75em;
    font-weight: 300;
    font-family: "Open Sans";
    background-color: whitesmoke;
}

#searchInputOuter {
    width: 100%;
}

#searchBtn {
    cursor: pointer;
}

#landingErrorMessage {
    padding-top: 10px;
    padding-left: 5px;
    font-size: 1.25em;
    font-family: "Quicksand";
    opacity: 0;
}

.landingErrorBox {
    animation: moveError 1s; 
    animation-fill-mode: forwards;
}

@keyframes moveError {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#landingContainerRight {
    width: 60%;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-right: 2.5%;
    padding-left: 2.5%;
}

#PRIMARY {
    background-color: #e2211c;
    border-color: #e2211c;
    opacity: 85%;
    border-radius: 0 0 0 10px;
}
#SECONDARY {
    background-color: #0056b8;
    border-color: #0056b8;
    opacity: 85%;
    border-radius: 0px;
}
#JUNIORCOLLEGE {
    background-color: #ff9e1a;
    border-color: #ff9e1a;
    opacity: 85%;
    border-radius: 0px;
}
#MIXEDLEVEL {
    background-color: #00943a;
    border-color: #00943a;
    opacity: 85%;
    border-radius: 0px;
}
#CENTRALISEDINSTITUTE {
    background-color: #9e27b5;
    border-color: #9e27b5;
    opacity: 85%;
    border-radius: 0 0 10px 0;
}

/* b. Map*/
#interactive-map {
    width:  100%;
    height: 95%;
    
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#buttons {
    width:   100%;
    display: flex;
    margin:  0 auto;
    justify-content: space-evenly;
}

.btn-width {
    width: 20%;
}

.btn {
	display: inline-block;
    font-weight: 400;
    font-family: Quicksand;
	color: #212529;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-color: transparent;
	border: 1px solid transparent;
	padding: .375rem .75rem;
	font-size: 0.8rem;
	line-height: 1.5;

}

.btn:focus {
    outline: none;
}

.btn-secondary {
	color: #fff;
	background-color: #6c757d;
	border-color: #6c757d
}

.btn-secondary {
    outline: none;
}

/* c. Networks*/
#networksPage {
    background-color: white;
    width: 100%;
    height: 100%;
    display: flex;
}

.networksContainer {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#NetworksSubContainer {
    width: 90%;
    height: 25%;
    padding-left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#networks {
    width:  100%;
    height: 100%;    
}

#networkSchoolName {
    font-size: 1.5em;
    padding-top: 1%;
    font-weight: 400;
    font-family: Quicksand;
}

#networks-subgraph {
    width: 100%;
    height: 75%;
    overflow: hidden;
}

/* d. Word Clouds */
#wordCloudPage {
    width: 100%;
    height: 100%;
    display: flex;
    background-color: whitesmoke;
}

#wordCloudTitleContainer {
    width: 20%;
    height: 100%;
    padding-left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    white-space: normal;
}

.wordCloudContainer {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#wordCloudHeaderM {
    width: 100%;
    height: 10%;
    
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#wordCloudHeaderV {
    width: 100%;
    height: 10%;
    
    display: flex;
    justify-content: center;
}

#wordCloudMission, #wordCloudVision {
    width:  100%;
    height: 70%;
}

/* School Page */
.schoolPage {
    height: 100vh;
    display: flex;
}

/* Sidebar */
.sidebar {
    font-size: 13px;
    color: #FFFFFF;
    height: calc(100% - 20px);
    width: 25%;
    background: #2c3e50; /*#2c3e50*/
    white-space: normal;
    padding: 10px;
    text-align: justify;    

    -webkit-box-shadow: 5px 0px 5px -4px rgba(0,0,0,0.2);
    -moz-box-shadow: 5px 0px 5px -4px rgba(0,0,0,0.2);
    box-shadow: 5px 0px 5px -4px rgba(0,0,0,0.2);

    z-index: 1;
}

a:link {
    color: #FFFFFF;
    text-decoration: none;
}

a:hover {
    color: #fe982a;
}

.box {
    width: 100%;
    height: 50%;
}

#school-info{
    padding-left: 5px; 
    padding-right: 5px;
}

#school-map {
    border-radius: 10px;
    box-shadow: 0px 0px 2px 2px rgba(141, 141, 141, 0.1);
}


/* Main */
.main {
    height: 100%;
    width: 75%;
    background-color: #eeeeee;
}

.strip {
    height: calc(50vh - 10px);
    display: flex;
    justify-content: space-evenly;
    padding: 5px;
}

.grid3 {
    height: 100%;
    width: 32%;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 2px 2px rgba(141, 141, 141, 0.1);
}
.grid2 {
    height: 100%;
    width: 49%;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 2px 2px rgba(138, 138, 138, 0.1);
    position: relative;
}
.grid-layer { position: absolute; height: 100%; width: 100%; padding-top: 5px; }

table {
    font-size: 12px;
    white-space: normal;
    width: 90%;
}
thead th {position: sticky; top: 0; background-color: #ffffff;}
/* .even {background-color: rgba(254, 152, 42, 0.6) !important;}*/
tr:hover {background-color: grey !important; font-weight: bold;}
#sch-offerings { overflow-y: scroll; }


.tooltip {
    background-color: white;
    opacity: 0;
    position: absolute;
    border: solid;
    border-width: 2px;
    border-radius: 5px;
    padding: 5px;
    pointer-events: none;
    max-width: 300px;
    z-index: 999;
    white-space: normal;
    font-family: "Open Sans";
}

/*To Be Pushed in*/
.form {
    width: 100% !important;
}

.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
  width: 100%;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
  font-family: "Open Sans";
  width: 95%;
  max-height: 121px;
  overflow-y: scroll;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: #e9e9e9 !important;
}
