/* Site */
html, body {
    font-family: 'Open Sans';
    font-size: 13px;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    display: none;
}

.container {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;  
    -webkit-overflow-scrolling: touch;
    white-space: nowrap;
    scroll-behavior: auto;
}

.slide {
    display: inline-block;
    margin: 0;
    padding: 0;
    min-width: 100vw;
    max-width: 100%;
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-align: start;
}


.header { 
    font-family: "Quicksand"; 
    font-weight: bold; 
    font-size: 1.2em; 
    padding-left: 5px;
}

/* Main Page */
.subslide {
    width: 100vw;
    height: 100vh;
}

#interactive-map {
    width: 70%;
    height: 60%;
    margin: 0 auto;
}

#networks {
    width: 80%;
    height: 700px;    
}

#networks-subgraph {
    width: 80%;
    height: 700px;    
}

#buttons {
    width: 70%;
    display: flex;
    margin: 0 auto;
    justify-content: space-evenly;
}

#landingPage {
    background-image: url("https://live.staticflickr.com/1352/817506639_9120efb8f5_z.jpg");

    height: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    backdrop-filter: blur(10px);
}

.btn-width {
    width: 19.75%;
}

.headerContainers {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10%;
}

/* School Page */
.schoolPage {
    height: 100vh;
    display: flex;
}

/* Sidebar */
.sidebar {
    font-size: 13px;
    color: #ffffff;
    height: 100%;
    width: 25%;
    background: #2c3e50;
    white-space: normal;
    padding: 5px;
    text-align: justify;
}

.box {
    width: 100%;
    height: 50%;
}

#school-info{padding-left: 5px; padding-right: 5px;}

/* Main */
.main {
    height: 100%;
    width: 75%;
    background-color: #eeeeee;
}

.strip {
    height: 50vh;
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}

.grid3 {
    height: 100%;
    width: 32%;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 2px 2px rgba(141, 141, 141, 0.1);
}
.grid2 {
    height: 100%;
    width: 49%;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 2px 2px rgba(138, 138, 138, 0.1);
    position: relative;
}
.grid-layer { position: absolute; height: 100%; width: 100%; padding-top: 5px; }

table {
    font-size: 12px;
    white-space: normal;
    width: 90%;
}
thead th {position: sticky; top: 0; background-color: #ffffff;}
.even {background-color: blanchedalmond !important;}
tr:hover {background-color: grey !important; font-weight: bold;}
#sch-offerings { overflow-y: scroll; }


.tooltip {
    background-color: white;
    opacity: 0;
    position: absolute;
    border: solid;
    border-width: 2px;
    border-radius: 5px;
    padding: 5px;
    pointer-events: none;
    max-width: 300px;
}
